<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   
   <!-- constructor and Setters-->
  <bean id ="p1" class="com.nt.beans.Person">
  <constructor-arg name="pid" value="11"></constructor-arg>
  <constructor-arg name="pname" value="Raina"></constructor-arg>
  <constructor-arg name="income" value="100.7"></constructor-arg>
  <property name="pid" value="77"/>
  <property name="pname" value="fizz"/>
  <property name="paddrs" value="hyd"></property>
  <property name="income" value="99.7"/>
  </bean> 
</beans>

	