<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:context = "http://www.springframework.org/schema/context"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans     
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">
   
   <!-- DataSource Cfg -->
   <bean id="DmdsOracle" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>
   <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"></property>
   <property name="username" value="system"></property>
   <property name="password" value="system"></property>
   </bean>
  
   <bean id="DmdsMysql" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
   <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
   <property name="url" value="jdbc:mysql:///spring_basics1"></property>
   <property name="username" value="root"></property>
   <property name="password" value="root"></property>
   </bean>
   
   <!-- DAo Cfg -->   
    <bean id="Custmysqldao" class="com.ms.dao.patientMySqlImpl">
   <constructor-arg ref="DmdsMysql"></constructor-arg>
   </bean>
   
   <bean id="Custoracledao" class="com.ms.dao.PatientOracleImpl">
   <constructor-arg ref="DmdsOracle"></constructor-arg>
   </bean> 
  
   <!-- Service cfg -->
   <bean id="service" class="com.ms.service.PatientServiceImpl">
  <!--  <constructor-arg ref="Custoracledao"></constructor-arg> -->
   <constructor-arg ref="Custmysqldao"></constructor-arg>
   </bean>
   
   <!-- Controller cfg -->
   <bean id="controller" class="com.ms.controller.MainController">
   <constructor-arg ref="service"></constructor-arg>
   </bean>
   </beans>